<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MGW - {% block pageTitle %}{% endblock %}</title>
    <style>
        @import 'css/style.css';
        @import 'css/aside.css';

        @import "css/root.css";
        @import "css/basic.css";
        @import "css/header_footer.css";
        @import "css/layout.css";
        @import "css/nav.css";
        @import "css/aside.css";

    </style>
</head>

<body>

<a href="/">home</a>
<a href="/customers">Customers</a>
<a href="/employees">Employees</a>
<a href="/offices">Offices</a>
<a href="/serviceusers">ServiceUsers</a>
<a href="/rosters">Rosters</a>
<hr>

{% block main %}
{% endblock %}

</body>
</html>