{% extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block main %}

<h1>Welcome - to the Scheduling system</h1>


<ul>
    <li>
        <td><a href="customers">View/ Manage Customer records</a>
    </li>
    <li>
        <td><a href="employees">View/ Manage Employee records</a>
    </li>
    <li>
        <td><a href="offices">View/ Manage Offices</a>
    </li>
    <li>
        <td><a href="serviceusers">View/ Manage Service Users</a>
    </li>
    <li>
        <td><a href="rosters">View/ Manage Rosters</a>
    </li>
</ul>

{% endblock %}