{% extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block main %}

<h1>Welcome - to the Scheduling system</h1>


<ul>
    <li>
        <td><a href="customers">View/ Manage Customer records</a>
    </li>
</ul>

{% endblock %}